header.nav.container-fluid
  nav.container.grid.grid-flow-column
    input#check-menu(type='checkbox')
    label(for='')
    label.logo.checkbtn.flex.jc-flex-end.ai-center(for='check-menu')
      i.bx.bx-menu
    ul.flex.jc-flex-end.ai-center
      li
        a(href='./index.html') Home
      li
        a(href='./layout.html') Layout
      li
        a(href='#visual-styles') Visual Styles
      li
        a(href='#elements') Elements
      li
        a(href='#components') Components
      li
        a(href='#') All